
/* got this from coolors.co - please improve!
 https://coolors.co/b5d6b2-53131e-5a464c-fffacc-ffefbd
*/

body
{
	font-family: Arial;
	color: #05386B;
	background-color: #5CDB95;
	margin-left: auto;
	margin-right: auto;
	max-width: 1800px;
	padding: 1em 3em 1em 3em;
}

header, footer
{
	text-align: center;
}

h1, h2, h3
{
	font-family: Arial, Georgia, serif;
	text-align: center;
	line-height: 0px;
}

a
{
	text-decoration: underline;
	color: #53131e;
	font-weight: bold;
	margin: 1em;
}

a:hover
{
	text-decoration: underline;
	color: #ffefbd;
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
	font-weight: bold;
}

nav
{
	text-align: center;
}

ol 
{
	text-align: center;
	list-style-position: inside;	
}

li
{
	margin: 1em;
	font-weight: bold;
}

p
{
	font-weight: bold;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

table
{
	text-align: center;
	border-collapse: collapse;
	margin: 20px;
}

thead
{
	background-color: green;
}

th
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
	color: #EDF5E1;
	background-color: #05386B;
}


td
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
	background-color: #8EE4AF;
}

.right
{
	text-align: right;
}
tbody tr:nth-child(odd) td
{
	background-color: #379683;
}

div 
{
	color: #EDF5E1;
	background-color: #05386B;
	text-align: center;
	margin: auto;
	max-width: 500px;
}

section
{
	border-style: double;
	padding: 1em;
}

input, label
{
	margin: 0.5em;
}

form
{
	text-align: center;
}

.darkbackground
{
	color: #EDF5E1;
	background-color: #05386B;
}