/* Colors: "Dark Blue: #1A3872" */

html, body {
    margin: 0;
    padding: 0;

    padding-bottom: 150px;
}

.top {
    z-index: 1;
}

/*Header logo!!!!!!!!!!!!!!!*/
#logo_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo_center_link {
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Navigation!!!!!!!!!!!!!!!*/
nav {
    background-color: black;
    width: 100%;
    overflow: auto;
    z-index: 1;
}

nav a {
    float: left;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 16.6666667%;
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a:hover {
    background-color: #1A3872;
}

/*Main content!!!!!!!!!!!!!!*/
main {
    margin-top: 250px;
    left: 0;
    width: 100%;
}

/*H1 for page names*/
#page_title {
    margin-left: 50px;
}

/*Fixed header!!!!!!!!!!!!!!*/
.top {
    position: fixed;
    background-image: url("../images/real_cf_@2X.png");
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 7px 8px 10px #888888;
}

/*Fixed footer!!!!!!!!!!!!!!*/
.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url("../images/real_cf_@2X.png");
    box-shadow: 0px -5px 8px 10px #888888;
}

/*Hr for top of footer*/
hr {
    height: 20px;
    background-color: #1A3872;
    border: none;
    margin-top: 0;
}

/*24 Hours red text in footer*/
#large_red_text {
    color: rgb(179, 2, 2);
    font-size: 48px;
    margin-right: 50px;
    margin-top: 8px;
    float: right;
}

/*footer copyright*/
#footer_copyright {
    color: white;
    font-size: 14px;
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}

/*Services page!!!!!!!!!!!!!!!!!*/
#service {
    width: 50%;
    text-align: center;
    float: left;
}

#service h2 {
    background-color: #1A3872;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 0px;
}

#service div {
    background-color: lightgrey;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 0px;
    height: 160px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

#service p {
    font-size: 20px;
}

/*Home page!!!!!!!!!!!!!!!!!!!!!!*/
#intro {
    font-size: 22px;
    margin-left: 50px;
    margin-right: 50px;
}

#homepage_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

#slider img {
    z-index: -1;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Text overlay fade in from online example with some personal modifications. Orignial found here http://jsfiddle.net/HAcE2/ */
.bxSliderLinks {
    position: relative;
    padding: 0;
    display:block;
}

.bxSliderLinks img {
    z-index: -1;
}

.text {
    position: absolute;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 0;
    color:#fff;
    background-color:rgba(107, 107, 107, 0.555);
    width: 100%;
    height: 100%;
    font-size: 50px;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.text:hover {
    opacity:1;
}
/* End of exmaple */

/*Contact page!!!!!!!!!!!!!!!!!!!!*/
#contact_info {
    font-size: 28px;
    margin-left: 50px;
}

#maps_link {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*About page!!!!!!!!!!!!!!!!!!!!!*/
#about {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #1A3872;
    padding: 20px;
}

#about ul {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#about li {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Testimonials page!!!!!!!!!!!!!!!!!*/
#review {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: #1A3872;
}

#review p {
    color: white;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

#testimonial {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-style: solid;
    border-color: #1A3872;
    min-height: 200px;
    align-items: center;
    padding-bottom: 20px;
}

#review_part1 {
    float: left;
    width: 60%;
    height: 100px;
}

#review_part2 {
    float: left;
    width: 40%;
    height: 100px;
    text-align: center;
}

#testimonial h2 {
    text-align: center;
}

#testimonial label {
    padding-left: 20px;
    float: left;
}

#name {
    float: left;
    margin-left: 10px;
}

#review_text {
    margin-left: 20px;
    width: 80%;
    height: 50px;
    max-width: 80%;
    max-height: 50px;
    margin-bottom: 20px;
}

#testimonial p {
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}

#submit_review {
    margin-top: 20px;
    background-color: #1A3872;
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 25px;
}

.center {
    text-align: center;
}

#stars {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
}

#thank_you_message {
    text-align: center;
}