<footer>
    <hr>
    <div id="footer_copyright">
        <p>Copyright &copy; 2021 FAAST LLC. All Rights Reserved</p>
    </div>
    <div id="validate_buttons">
        Page created by Xavier Faulkner<br>
        <button id="validate_html" onclick="location.href='https://validator.w3.org/check?uri=referer'">Validate Html</button>
        <button id="validate_css" onclick="location.href='https://jigsaw.w3.org/css-validator/check/referer'">Validate CSS</button>
    </div>
    <div id="large_red_text">
        <p>24 Hour Service</p>
    </div>
</footer>