<header>
    <a id="logo_center_link" href="index.html">  
        <img id="logo_center" src="images/first alert logo-1.png" width="255" height="105">
    </a>
</header>

<nav>
    <a class="home" href="index.html">Home</a>
    <a class="services" href="services.html">Services</a>
    <a class="pricing" href="pricing.html">Pricing/Quotes</a>
    <a class="contact" href="contact.html">Contact Us</a>
    <a class="about" href="about.html">About Us</a>
    <a class="testimonials" href="testimonials.html">Testimonials</a>
</nav>